.main{
    width:30rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    border-radius: 5px 5px 0px 0px;
    margin-left: 15rem;
    margin-top: 5rem;
}

.hdx {
    width:100%;
    height:2.5rem;
    border-radius: 5px 5px 0px 0px;
    background: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
}